@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.required {
  color: rgb(255, 0, 64);
}
/* Home */

.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-evenly;
}

.container .card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(228, 227, 227, 0.377);
  width: 250px;
  height: 200px;
  border-style: outset;
  border-radius: 4%;
  border-color: rgba(139, 139, 139, 0.555);
  margin: 10px;
}

.container .card:hover {
  background-color: #f1967a;
}

.container .card a:hover {
  color: #fffefe;
}

.container .card a {
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  color: rgb(0, 0, 0);
  padding: 30px 60px 30px 60px;
}

.container .card a i {
  font-size: 5.6em;
}

.container .card a span {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 10px;
}

/* admins */
.head-titles {
  margin-top: 20px;
  margin-left: 30px;
  height: 60px;
}

.head-titles h2 {
  float: left;
  color: #56595e;
  font-weight: 500;
}

.button {
  background-color: #4c6faf;
  width: 80px;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.9;
  float: right;
  margin-right: 15px;
}

.can-button {
  background-color: #ffffff;
  width: 80px;
  border: none;
  border-radius: 4px;
  color: #212529;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.9;
  border: 2px solid #495057;
}

.nav-button {
  background-color: #4caf81;
  width: 80px;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.9;
  float: right;
  margin-right: 15px;
}

.del-button {
  background-color: #ec7f71;
  width: 80px;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.9;
  float: right;
  margin-right: 15px;
}

.button:hover,
.can-button:hover,
.nav-button:hover {
  opacity: 1;
}

/* admin */

.head-titles #add-admin {
  white-space: nowrap;
  width: fit-content;
  margin-right: 40px;
}

.admin-list {
  margin-top: 15px;
  margin-left: 50px;
  color: rgb(0, 0, 0);
  white-space: nowrap;
}

.admin {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.admin > img {
  margin-right: 10px;
  float: left;
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.text {
  margin-top: 40px;
  float: left;
  color: #56595e;
}

.text > .name {
  font-weight: bold;
  font-size: 1.4em;
}

.add-admin,
.con-detatils,
.account {
  margin-top: 5px;
  margin-left: 60px;
  margin-right: 60px;
  color: rgb(0, 0, 0);
}
.con-detatils{
  width: 700px;
}

.con-detatils h2 {
  color: #56595e;
}

form > input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
}

div > input[type="text"] {
  width: 100%;
  /* padding: 12px 20px; */
  margin-bottom: 20px;
  margin-right: 30px;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-size: 13px;
  padding: 0.4em;
  outline: none;
  border-radius: 0;
  border: 1px solid #ccc;
  color: #555;
}

div > input[type="password"] {
  width: 70%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
}

form > input[type="password"] {
  width: 70%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
}

.add-admin > h3 {
  color: rgb(53, 53, 53);
  margin-bottom: 20px;
  margin-top: -20px;
}

.add-form label {
  font-size: 15px;
}

form > label {
  font-size: 1.3em;
}

.con-detatils ul {
  margin: 20px;
}

.con-detatils li {
  margin: 15px;
  font-weight: bold;
  opacity: 90%;
  text-decoration: rgb(87, 87, 87);
}

.con-detatils li .l-name {
  font-size: 20px;
}

.con-detatils li .l-value {
  font-size: 18px;
  float: Right;
  text-align: center;
  padding-right: 25px;
}

.con-list .button {
  width: fit-content;
}

.con-list #pay {
  width: 60px;
}

.dbtn {
  float: right;
  margin-right: 10%;
}

.dropbtn {
  background-color: #233e58;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 140px;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #3357a7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.con-list,
.block-list {
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
}

.Verify-list {
  margin-top: -20px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
}

.con-list th,
.Verify-list th {
  font-size: 1.2em;
  text-align: left;
  padding-right: 25px;
  padding-left: 25px;
  color: #56595e;
}

.con-list tr,
.block-list tr,
.Verify-list tr {
  text-align: center;
}

.con-list a,
.block-list a,
.iss-profile a,
.block-post a,
.block-post-details a,
.Verify-list a,
.verify-btn a {
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.block-list .button,
.block-post .button {
  width: fit-content;
}

.Verify-list .button {
  width: fit-content;
}

.sub-title a {
  text-decoration: none;
}

.con-list .name,
.block-list .name,
.iss-profile .name,
.block-post .name,
.block-post-details .name,
.Verify-list .name {
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
}

.sub-title {
  display: flex;
  margin: 10px 30px;
  text-align: justify;
}

.sub-title .sub-title-user,
.sub-title .sub-title-posts {
  font-size: 1.4rem;
  padding: 0px 10px;
}

.iss-name {
  margin: 0px 50px;
}

.block-list,
.block-post,
.block-post-details {
  margin: 0px 0px 60px 60px;
}

.notifi {
  margin: 0px 0px 60px 30px;
}

.iss-profile {
  margin: 0px 60px 0px 60px;
}

.iss-profile .button {
  margin-top: 35px;
}

.block-post .admin > img,
.block-post-details .admin > img {
  border-radius: 0%;
}

.Verify-list-details {
  margin: 10px 60px 10px 60px;
}

.Verify-list-details td {
  text-align: left;
  font-size: 1.2rem;
  padding-right: 50px;
  padding-bottom: 8px;
}

.sub-title-user {
  margin-left: 30px;
}

.verify-btn {
  display: flex;
  float: right;
  margin-right: 40px;
}

.verify-btn .button,
.verify-btn .del-button {
  width: fit-content;
}
.notifi .button {
  margin-right: 40%;
}

.notifi {
  font-size: 1.1em;
}

input[type="checkbox"] {
  height: 18px;
  width: 18px;
}

.notifi td {
  padding: 10px;
}

/* reset */
.reset-container {
  margin: 0px 30px 00px 80px;
  width: 400px;
}

.reset-container input[type="password"] {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 13px;
  padding: 0.4em;
  outline: none;
  border-radius: 0;
  border: 1px solid #ccc;
  color: #555;
}

.reset label {
  font-size: 15px;
}

.reset-container .button {
  width: 150px;
}

.btn {
  display: flex;
  flex-direction: row;
  float: right;
  margin-right: 5%;
  margin-bottom: 40px;
}

.btn a {
  text-decoration: none;
}
/* account overview */

.profile-pic {
  height: 120px;
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}

.profile-pic img {
  margin-right: 10px;
  float: left;
  width: 120px;
  height: 120px;
  border: 2px solid #f1967a;
  border-radius: 50%;
}

.account .profile-pic {
  margin-top: 80px;
}

.profile-pic a {
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.overview {
  margin-top: 15px;
  text-align: left;
  width: 60%;
  border-collapse: collapse;
}

.overview td {
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: rgb(82, 82, 82);
  padding-top: 10px;
  padding-left: 5px;
}

.overview tr {
  border-bottom: 1px rgb(153, 153, 153) solid;
}

.overview .title-text {
  border: none;
  font-size: 15px;
  color: black;
  font-weight: 600;
}

.edit label {
  font-size: 15px;
}

.edit #updateAdmin {
  width: 130px;
  white-space: nowrap;
}

.edit,
.add-admin {
  width: 600px;
  margin-bottom: 100px;
}

.edit ::placeholder {
  font-size: 1.2em;
}

.account .profile-pic .js--image-preview::after {
  content: "";
}

/* report */

.small-carts {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 20px;
}

.s-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(102, 51, 153, 0.116);
  width: 400px;
  height: 150px;
  margin: 10px;
}

.s-box img {
  width: 90px;
  height: 90px;
  float: left;
  /* margin-right: -50px; */
}
.s-box span {
  font-size: 0.8em;
}
.s-box h2 {
  font-size: 1.5em;
  color: rgb(58, 58, 58);
}

.big-cart {
  margin: 40px;
}

.reson-orders {
  margin: 60px;
}

.reson-orders h3 {
  font-size: 1.4em;
  color: rgb(44, 44, 44);
}

.orders {
  width: 100%;
  margin: 10px;
  align-items: center;
  border-collapse: collapse;
}

.orders td,
th {
  padding: 20px 10px;
  text-align: center;
}

.orders tr {
  border-bottom: 2px solid #33d7ff;
}

/* rates */

.rates {
  margin: 0px 60px 10px 60px;
}

.s-rates-table th,
.r-rates-table th {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  text-align: left;
  white-space: nowrap;
}

.s-rates-table td,
.r-rates-table td {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
  text-align: left;
  white-space: nowrap;
}

.rates-table #type {
  border: none;
}

.r-rates-table input {
  width: 100px;
}

.coin {
  margin-top: 10px;
}

.coin span {
  font-weight: bold;
  margin-right: 10px;
}

.time {
  display: flex;
  flex-direction: row;
  float: right;
  margin-right: 15px;
}

.time span {
  font-weight: 500;
  font-size: 1.2em;
}

.small-container {
  max-width: 100%;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}
/* css for the card in admin home page */

.first-row{
  display: flex;
  justify-content: space-around;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0;
}

.first-row:first-child{
  padding-top: 15px;
}

.home-card{
  height: 200px;
  width: 520px;
  margin: 30px;
  border-radius: 25px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 10px 0 rgba(170, 166, 221, 0.596),
    0 17px 50px 0 rgba(170, 166, 221, 0.596);
  padding: 20px;
  position: relative;

} 
.home-cardd{
  height: 200px;
  width: 300px;
  margin: 30px;
  border-radius: 25px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 10px 0 rgba(170, 166, 221, 0.596),
    0 17px 50px 0 rgba(170, 166, 221, 0.596);
  padding: 20px;
  position: relative;

} 

#gg{
  display: flex;
}

.home-card #card-row-1 .account-type {
  position: absolute;
  font-size: 50px;
  top: 53px;
  left: 100px;
  color: #696c83d5;
  margin-left: 20px;
}

.home-card .count {
  font-size: 80px;
  color: rgba(50, 47, 70, 0.788);
  font-weight: 400;
}

.card-title{
  font-size: 20px;
  color: #9595b3d0;
  position: absolute;
  top: 130px;
  left: 25px;
 
}

.home-card #card-row-1 .account-type2 {
  position: absolute;
  font-size: 30px;
  top: 30px;
  left: 100px;
  color: #696c83d5;
  margin-left: 20px;
}
/* .first-row {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.home-card-row1 {
  height: 230px;
  width: 100%;
  
}
.home-card-row1:first-child{
  margin-right: 40px;
}
.home-card-row2 {
  
  height: 230px;
  margin-left: 40px;
  width: 500px;
  margin-bottom: 40px;
}

.home-card {
  border-radius: 25px;
  background-color: #eceaea;
  box-shadow: 0 2px 10px 0 rgba(59, 56, 100, 0.24),
    0 17px 50px 0 rgba(59, 56, 100, 0.24);
  padding-top: 20px;
  padding-left: 30px;

} */
