/*--------------------------adopt page----------------------------------*/
.tags {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    padding: 10px;
  }
  
  .tag {
    background: rgb(10, 6, 36);
    color: #79a9d6;
    margin-right: 20px;
    width: 56px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
  }
