/* error showing css */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  font-size: 14px;
  width: 40%;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

#alertDiv {
  position: fixed;
  top: 40%;
  left: 40%;
  width: 100%;
}

.alertMsg {
  padding: 20px;
  background-color: #4336f4;
  color: white;
  font-size: 14px;
  width: 40%;
}
