.content {
  display: flex;
  /* position: relative;
  top: 80px; */
}

.cards {
  margin-top: 80px;
  width: 80%;
  /* position: relative;
    left: 20% ; */
  /* position: relative;
    left: 250px; */
}

.filter {
  background-image: url("../images/bg.jpg");
  margin-top: 60px;
  /* position: fixed; */
  /* top: 80px; */
  /* display: block; */
  /* margin: 0 auto; */
  width: 20%;
  height: auto;
  /* height: 100vh; */
  background: #fff;
  color: #666;
  border-radius: 4px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.filter h3 {
  margin-top: 10px;
  margin-left: 54px;
  color: #194381;
}

.list {
  position: relative;
  left: 25px;
}

.list li {
  position: absolte;
  font-size: 14px;
  left: 100px;
}

.list li:hover:not(.heading) {
  background-color: #efefef;
}

.list strong {
  color: #3e3e3e;
  font-weight: 400;
  display: block;
  margin-bottom: 0.75em;
}

.filter .heading {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 12px;
  color: #081529;
}

.filter .divider {
  background-color: #cfcfcf;
  height: 1px;
  margin: 10px;
}

.list li.note {
  background: #f6f6f6;
  border-top: 1px solid #cfcfcf;
  color: #aaa;
  font-size: 12px;
  padding: 12px;
}

.list li label {
  display: block;
  line-height: 36px;
  padding-left: 36px;
}

.list li label > span {
  position: absolute;
  display: inline-block;
  left: 12px;
  margin-top: 12px;
  width: 12px;
  height: 12px;
  border: 1px solid #cfcfcf;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.list li label input {
  display: none;
}

.list li label input[type="checkbox"] ~ span {
  border-radius: 2px;
}

.list li label input[type="radio"] ~ span {
  border-radius: 100%;
}

.list li label input[type="checkbox"]:checked ~ span {
  background-color: #f3af82;
  border: 1px solid #999;
}

.list li label input[type="radio"]:checked ~ span {
  background-color: #f3af82;
  border: 1px solid #999;
}

.filter-price {
  width: 220px;
  border: 0;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-title {
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  background: #d58e32;
  padding: 10px;
}

.price-container {
  display: flex;
  border: 1px solid #ccc;
  padding: 5px;
  /* margin-left: 57px; */
  width: 170px;
}

.price-field {
  position: relative;
  width: 70%;
  height: 36px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 0px;
}

.price-field input[type="range"] {
  position: absolute;
}

/* Reset style for input range */

.price-field input[type="range"] {
  width: 100%;
  height: 7px;
  border: 1px solid rgb(233, 93, 50);
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  -webkit-appearance: none;
}

.price-field input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.price-field input[type="range"]:active,
.price-field input[type="range"]:focus {
  outline: 0;
}

.price-field input[type="range"]::-ms-track {
  width: 188px;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  background: transparent;
  border-color: transparent;
  color: red;
  border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type="range"]::-webkit-slider-thumb {
  /* WebKit/Blink */
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -4px;
  background-color: rgb(32, 55, 97);
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type="range"]::-moz-range-thumb {
  /* Firefox */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #fff;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type="range"]::-ms-thumb {
  /* IE */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #242424;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

/* Style track input range */

.price-field input[type="range"]::-webkit-slider-runnable-track {
  /* WebKit/Blink */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: rgb(255, 154, 136);
  border-radius: 5px;
}

.price-field input[type="range"]::-moz-range-track {
  /* Firefox */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #242424;
  border-radius: 5px;
}

.price-field input[type="range"]::-ms-track {
  /* IE */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #242424;
  border-radius: 5px;
}

/* Style for input value block */

.price-wrap {
  display: flex;
  color: #242424;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 0px;
}

.price-wrap-1,
.price-wrap-2 {
  display: flex;
  margin-left: 0px;
}

.price-title {
  margin-right: 5px;
}

.price-wrap_line {
  margin: 6px 0px 5px 5px;
}

.price-wrap #one,
.price-wrap #two {
  text-align: right;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  background: 0;
  border: 0;
  outline: 0;
  color: #242424;
  font-family: "Karla", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

.price-wrap #one {
  width: 30px;
}
.price-wrap #two {
  width: 60px;
}

.price-wrap label {
  text-align: right;
  margin-top: 6px;
  padding-left: 5px;
}

/* Style for active state input */

.price-field input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #242424;
  transition-duration: 0.3s;
}

.price-field input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #242424;
  transition-duration: 0.3s;
}

.dropmedown {
  margin-top: 30px;
}
.dropmedown a,
.dropmedown a:visited {
  color: #555;
  outline: none;
  text-decoration: none;
}

.dropmedown a:hover,
.dropmedown a:focus,
.dropmedown a:visited:hover {
  color: #22a1c4;
  text-decoration: none;
}

.dropmedown select {
  outline: none;
  cursor: pointer;
}

.dropmedown {
  position: relative;
  width: 80%;
  left: 20px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 36px;
  line-height: 36px;
  color: #444;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.dropmedown:before,
.dropmedown:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 13px;
  right: 12px;
  width: 0;
  height: 0;
  line-height: 36px;
  border: 4px dashed;
  border-color: #888 transparent;
  pointer-events: none;
}

.dropmedown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropmedown:after {
  margin-top: 8px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 36px;
  line-height: 18px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px #fff;
  background: #f2f2f2;
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f8f8f8;
  outline: none;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.search-box {
  width: 70%;
  padding: 0.4em;
  font-size: 1em;
  outline: none;
  border: 1px solid #ccc;
  color: #555;
}
.km {
  position: relative;
  top: 8px;
  left: -30px;
  font-size: 15px;
}

.col-3 h4 {
  font-weight: 500;
  font-size: 17px;
  color: #303030;
}

.ribbon-red:before,
.ribbon-red:after {
  content: "";
  border-top: 3px solid #b90005;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon-red {
  font: 15px Sans-Serif;
  font-weight: 600;
  color: #fff;
  text-align: center;

  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #eb8861;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.ribbon-wrapper-red {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
  z-index: 10;
}

.img-wrapper {
  position: relative;
  z-index: 90;
  transition: transform 0.5s;
}

.img-wrapper:hover {
  transform: translateY(-7px);
}

.col-3 img{
  transition: none;
}
.col-3 img:hover{
  transform: none;
}


.category-col-3 img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  
}


.category-col-3 {
  flex-basis: 33%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}

.category-col-3 p {
  font-size: 14px;
}
