@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.header {
	position: fixed;
  top:0;
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0PX;
	background: #313552;
	color: #fff;
  z-index: 10;
}
.u-name .logo {
  cursor: pointer;
}
.u-name img {
  height: 55px;
}

.u-name span {
  position: relative;
  top: 15px;
  font-size: 22px;
  font-weight: 500;
  color: #f1967a;
}

.u-name {
  margin-left: 10px;
  display: flex;
  position: relative;
  font-size: 20px;
}

.header i:hover {
  color: #f5ac7c;
}

.side-bar {
	width: 15vw;
	background: #2d3149;
	transition: 500ms width;
}

.body {
	display: flex;
	min-height: 90vh;
}

.section-1 {
  margin-top: 10vh;
	width: 100%;
	background: #ffffff;
  min-height: 90vh;
	overflow: auto;

}

.side-bar ul {
  margin-top: 90px;
  margin-right: 15px;
  list-style: none;
}

.side-bar ul li span {
  margin-left: 10px;
}

.side-bar ul li {
  font-size: 13px;
  padding: 10px 0px;
  padding-left: 20px;
  transition: 500ms background;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-bar ul li:hover {
  background: #151031;
}

.side-bar ul li a {
  text-decoration: none;
  color: #eee;
  cursor: pointer;
  letter-spacing: 1px;
}

.side-bar ul li a i {
  width: 23px;
  display: inline-block;
  padding-right: 10px;
  font-size: 17px;
}

#navbtn {
  display: inline-block;
  margin-top: 22px;
  margin-left: 68px;
  font-size: 20px;
  transition: 500ms color;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .body .side-bar {
  width: 60px;
}

#checkbox:checked ~ .body .side-bar .user-p{
	visibility: hidden;
}

#checkbox:checked ~ .body .side-bar a span{
	display: none;
}

.icons {
	font-size: 20px;
	margin-right: 15px;
	width: 100px;
	display: flex;
	justify-content: space-around;
}

.box {
  margin: 10px;
  height: 100px;
  width: 100px;
  background: #151031;
}

