/* div.headerForPost {
  display: flex;
  position: relative;
  left: 5%;
  top: 5%;
}

button.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

div.dropdown {
  position: relative;
  left: 50px;
  display: inline-block;
}


div.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


div.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


div.dropdown-content a:hover {
  background-color: #ddd;
}

div.dropdown:hover .dropdown-content {
  display: block;
}

div.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

div.subHeader {
  position: relative;
  top: 10%;
  left: 5%;
}

div.articleCreation {
  display: flex;
  flex-direction: column;
}

div.question-container {
  display: flex;
  position: relative;
  left: 5%;
  top: 10%;
}

div.questionItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

span.qTitle {
}

span.question {
}

span.answerForQuestion {
}

div.blogContainer {
  position: absolute;
  top: 10%;
  left: 5%;
} */

.topics {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 100%;
}

.topics p {
  margin-right: 25px;
  font-size: 22px;
  font-weight: 500;
  color: #888888;
  text-transform: uppercase;
  cursor: pointer;
}

.topics p:first-child {
  margin-left: 50px;
  color: rgb(61, 61, 61);
}

.topics i {
  color: #828283;
  margin-top: 18vh;
}

#data {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-evenly;
}

.container .card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(228, 227, 227, 0.377);
  width: 250px;
  height: 200px;
  border-style: outset;
  border-radius: 4%;
  border-color: rgba(139, 139, 139, 0.555);
  margin: 10px;
}

.container .card:hover {
  background-color: #f5ac7c;
}

.container .card a:hover {
  color: #fffefe;
}

.container .card a {
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  color: rgb(0, 0, 0);
  padding: 30px 60px 30px 60px;
}

.container .card a i {
  font-size: 5.6em;
}

.container .card a span {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 10px;
}

dl {
  display: flex;
  flex-flow: row wrap;
  border: solid rgb(49, 5, 248);
  border-width: 1px 1px 0 0;
  width: 60%;
}
dt {
  flex-basis: 20%;
  padding: 2px 4px;
  background: rgb(0, 60, 151);
  text-align: right;
  color: #fff;
}
dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 2px 4px;
  border-bottom: 1px solid rgb(0, 60, 151);
}