@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.required {
  color: rgb(255, 0, 64);
}

/* Title */
.head-titles {
    margin-top: 20px;
    margin-left: 30px;
    height: 60px;
  }
  
  .head-titles h1 {
    font-size: 1.8em;
    float: left;
  }
  
  /* button */
  .button {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    color: #050505;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 25px;
    border: 2px solid #050505;
    background-color: rgb(255, 255, 255);
  }
  
  .button:hover {
    color: #f5ac7c;
    padding: 6px 23px;
    border: 4px solid #f5ac7c;
  }
  
  .s-button {
    float: right;
    margin: 20px;
    border-radius: 20px;
    color: #050505;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 25px;
    border: 2px solid #050505;
    background-color: rgb(255, 255, 255);
  }
  
  .s-button:hover {
    color: #f5ac7c;
    border: solid #f5ac7c;
  }
  
  /* form */
  form > input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 1.4rem;
  }
  
  textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 1.2rem;
  }
  
  form > label {
    font-size: 1.3em;
  }
  
  ::placeholder {
    font-size: 1.2em;
  }

  /* Home */

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-evenly;
  }
  
  .container .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(228, 227, 227, 0.377);
    width: 250px;
    height: 200px;
    border-style: outset;
    border-radius: 4%;
    border-color: rgba(139, 139, 139, 0.555);
    margin: 10px;
  }
  
  .container .card:hover {
    background-color: #f5ac7c;
  }
  
  .container .card a:hover {
    color: #fffefe;
  }
  
  .container .card a {
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    color: rgb(0, 0, 0);
    padding: 30px 60px 30px 60px;
  }
  
  .container .card a i {
    font-size: 5.6em;
  }
  
  .container .card a span {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 10px;
  }