div.headerForPost {
  display: flex;
  position: relative;
  left: 5%;
  top: 5%;
}

table.contentTable {
  position: relative;
  top: 10%;
  left: 5%;
}

/* Dropdown Button */
button.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
div.dropdown {
  position: relative;
  left: 50px;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
div.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
div.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
div.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
div.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
div.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

div.subHeader {
  position: relative;
  top: 10%;
  left: 5%;
}
