a:visited {
    text-decoration: none;
    color: #888888;
  }

  .container .small-container-1{
    max-width: 90%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-wrap: wrap;
  }

 .container .small-container-1 .col-4 {
     flex-basis: 25%;
 }

 .container .small-container-1 h3{
    color: #555555;
    font-weight: 600;

  }

 