*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg.jpg);
}

.content{
    margin-top: auto;
    margin-bottom: auto;
    width: 560px;
    height: 90%;
    list-style-type: none;
    padding: 0;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

.logo {
    display: flex;
    align-content: flex-start;
    padding-left: 62px;
    padding-bottom: 30px;
}

.logo img {
    width: 22px;
    float: left;
}
  
.logo h4 {
    padding-top: 4px;
}

.content form{
    width: 100%;
}

.sub-content, .pwd-sub-content, .after-sub-content{
    width: 100%;
    text-align: center;
}
.sub-content img, .pwd-sub-content img, .after-sub-content img{
    width: 200px;
    height: 200px;
}

.sub-content h3, .pwd-sub-content h3{
    font-size: 25px;
}

.sub-content input {
	border-bottom: 2px solid #d9d9d9;
	padding: 12px 15px;
	margin: 8px 0;
	width: 70%;
}

.pwd-sub-content input{
  border-bottom: 2px solid #d9d9d9;
	padding: 12px 15px;
	margin: 8px 0;
	width: 70%;
}

.btn button{
    border-radius: 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    margin: 10px;
  }

.btn  .submit{
    align-self: flex-end;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: #ffac47;
}
  
  .submit:hover{
    background: #ff7b2e;
  }
  
  .select{
    align-self: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    font-weight: 600;
    background: #ffac47;
  }
  
  .select:hover{
    background: #ff7b2e;
  }

  .pwd-sub-content p{
    margin-bottom: 20px;
  }