.refund-.form {
  width: 90%;
  margin: auto;
}

.table-responsive thead {
  background: rgb(250, 250, 250);
}

.form {
  margin-top: 50px;
  width: 1000px;
}

.form > div {
  display: flex;
}
.form label {
  font-size: 18px;
  font-weight: 400;
  margin-right: 20px;
}

/* .checkout{
    margin: auto;
    display: none;
} */

.checkout label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout label span {
  font-size: 13px;
}

.checkout label input {
  margin-top: 13px;
}
.d-flex {
  display: flex;
  flex-direction: row;
  background: #f7f7f7;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}

.form {
  flex: 4;
  margin-bottom: 100px;
}

.Yorder {
  flex: 2;
}

.required {
  color: red;
}
.checkout label,
.checkout table {
  /* display: block; */
  margin: 15px;
}

.checkout label {
  display: flex;
  align-items: center;
}
.checkout label > span {
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}

.checkout i {
  font-size: 30px;
}
.checkout input[type="text"],
.checkout select {
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
}

.checkout textarea {
  width: 70%;
  height: 100px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
  outline: none;
}
.checkout select {
  width: 40%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-left: 85px;
}

.checkout input[type="radio"] {
  position: relative;
  left: 40px;
}

.checkout i {
  position: relative;
  left: -130px;
  top: 5px;
}

.Yorder {
  margin-top: 15px;
  padding: 20px;
  border: 1px solid #dadada;
}
.checkout table {
  width: 100%;
  margin: 0;
  padding: 0;
}
.checkout th {
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
.checkout tr > td:nth-child(1) {
  text-align: left;
  color: #2d2d2a;
}
.checkout tr > td:nth-child(2) {
  text-align: right;
  color: #52ad9c;
}
.checkout td {
  border-bottom: 1px solid #dadada;
  padding: 10px 0px 10px 0;
}

.checkout p {
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}
.Yorder > div {
  padding: 15px 0;
}

.checkout button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: rgb(255, 137, 116);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.checkout button:hover {
  cursor: pointer;
  background: rgb(204, 99, 81);
}
/* .checkout .form {
    text-align: center;
  } */

.checkout .form input[type="submit"] {
  width: 30%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: rgb(255, 137, 116);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

/* #img-label {
    display: none;
} */
#img {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  /* display: none; */
}

#img input {
    margin-bottom: 10px;
}

#img input:last-child{
    margin-bottom: 60px;
}