@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.required {
  color: rgb(255, 0, 64);
}

/* Title */
.head-titles {
  margin-top: 20px;
  margin-left: 30px;
  height: 60px;
}

.head-titles h2 {
  float: left;
  color: #56595e;
  font-weight: 500;
}

/* button */
.button {
  background-color: #4c6faf;
  width: 80px;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.9;
  float: right;
  margin-right: 15px;
}

.can-button{
  background-color: #ffffff;
  width: 80px;
  border: none;
  border-radius: 4px;
  color: #212529;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.9;
  border: 2px solid #495057;
}

.nav-button{
  background-color: #4caf81;
  width: 80px;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.9;
  float: right;
  margin-right: 15px;
}

.del-button{
  background-color: #ec7f71;
  width: 80px;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.9;
  float: right;
  margin-right: 15px;
}

.button:hover,.can-button:hover,.nav-button:hover {
  opacity: 1;
}

/* blue #4c6faf
delete btn red #ec7f71
nav ntn green #4caf81 */


/* form */
div > input[type="text"] {
  width: 100%;
  /* padding: 12px 20px; */
  margin-bottom: 20px;
  margin-right: 30px;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-size: 13px;
  padding:0.4em;
  outline: none;
  border-radius: 0;
  border: 1px solid #ccc;
  color:#555;
}

textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 1.2rem;
}

div > label {
  font-size: 1.3em;
}

::placeholder {
  font-size: 1.2em;
}

/* Home */

.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-evenly;
}

.container .card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(228, 227, 227, 0.377);
  width: 250px;
  height: 200px;
  border-style: outset;
  border-radius: 4%;
  border-color: rgba(139, 139, 139, 0.555);
  margin: 10px;
}

.container .card:hover {
  background-color: #f5ac7c;
}

.container .card a:hover {
  color: #fffefe;
}

.container .card a {
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  color: rgb(0, 0, 0);
  padding: 30px 60px 30px 60px;
}

.container .card a i {
  font-size: 5.6em;
}

.container .card a span {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 10px;
}

/* edit */
.edit-container {
  margin: 0px 30px 80px 30px;
}

.edit-container .profile-pic {
  margin-bottom: 20px;
  margin-left: 50px;
}

.edit-container .profile-pic .js--image-preview::after {
  content: "";
}

.edit-container .profile-pic .js--image-preview {
  height: 200px;
}

.edit-container .profile-pic .js--image-preview {
  height: 200px;
}

.edit-container .profile-pic .upload-options {
  margin-top: -15px;
  height: 0;
}

.edit {
  margin-left: 50px;
  width: 600px;
  margin-bottom: 100px;
}

.edit-form label{
  font-size: 15px;
}

.d-modes {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  font-size: 1.2rem;
}

#location-btn{
  background-color: #b6b5b5; /* Green */
  width: 130px;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  /* margin-top: 50px; */
  /* margin-left: 300px; */
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.row p {
  margin-left: 15px;
  padding-right: 6em; 
  font-size: 14px;
}

.d-modes [type="checkbox"] {
  width: 17px; 
  top: 4px;
}

.cost{
  margin-left: 30px;
}

.store{
  margin-top: 10px;
}

.store-table{
  margin-left: 10px;
}

.store-table td{
  text-align: right;

}

.store-table th{
  opacity: 0.8;
  font-weight: 400;
}
.store-table b{
  white-space: nowrap ;
  opacity: 0.8;
  font-weight: 400;
  margin-right: 10px;
}


.payment{
  margin-top: -15px;
}
.date{
  display: inline;
  font-weight: bold;
}

/* reset */
.reset-container {
  margin: 0px 30px 00px 80px;
  width: 400px;
}

.reset-container div > input[type="password"] {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 13px;
  padding:0.4em;
  outline: none;
  border-radius: 0;
  border: 1px solid #ccc;
  color:#555;
}

.reset label {
  font-size: 15px;
}

.reset-container .button{
  width:150px
}

/*Storefront  */

.storefront {
  margin: 0px 30px 00px 30px;
}


/* image boxes */

.store-pic{
  position: relative;
  height: 420px;
}

 
.store-bg-pic .box {
  display: block;
  min-width: 100%;
  height: 300px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.store-profile-pic .box {
  position: absolute;
  top: 180px;
  left:30px;
  display: block;
  min-width: 200px;
  height: 200px;
  margin-bottom: auto;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.store-profile-pic .upload-options, .store-bg-pic .upload-options {
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: background-color ease-in-out 150ms;
}

.store-profile-pic .upload-options:hover,store-bg-pic .upload-options:hover{
  background-color: #7fb1b342;
}

.store-profile-pic .upload-options input, .store-bg-pic .upload-options input{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.store-profile-pic .upload-options label, .store-bg-pic .upload-options label{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

.store-profile-pic .upload-options label::after, .store-bg-pic .upload-options label::after  {
  content: 'add';
  font-family: 'Material Icons';
  position: absolute;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  top: -12px;
  left: 80px;
  top: calc(50% - 2.5rem);
  left: calc(50% - 1.25rem);
  z-index: 0;
}

.store-profile-pic .upload-options label span, .store-bg-pic .upload-options label span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

.store-profile-pic .upload-options label span:hover i.material-icons, .store-bg-pic .upload-options label span:hover i.material-icons {
  color: rgb(0, 0, 0);
}

.store-bg-pic .image-preview {
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.store-profile-pic .image-preview {
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.store-profile-pic .image-preview::after, .store-bg-pic .image-preview::after {
  content: "";
  font-family: 'Material Icons';
  position: relative;
  font-size: 4.5em;
  color: rgba(230, 230, 230, 1);
  top: calc(50% - 3rem);
  left: calc(50% - 2.25rem);
  z-index: 0;
}

.store-profile-pic .image-preview .image-preview-default::after, .store-bg-pic .image-preview .image-preview-default::after {
  display: none;
}


.store-pic i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}

.store-pic .drop {
  display: block;
  position: absolute;
  background: rgba(95, 158, 160, 0.2);
  border-radius: 100%;
  transform: scale(0);
}

.store-pic .animate {
  animation: ripple 0.4s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}


.storefront a {
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 10px;
  color: white;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.651);
}

.store-title {
  display: flex;
  align-content: flex-start;
}

.store-title h3 {
  margin-left: 10px;
  font-size: 1.6rem;
}

.store-title span {
  font-size: 0.8rem;
  margin-left: 10px;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.685);
}

.open-time span {
  font-size: 0.8rem;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.685);
}

.address {
  margin-left: 10px;
}

.about {
  margin-top: 10px;
  border: 2px solid rgba(0, 0, 0, 0.39);
  padding: 10px;
  background-color: rgba(255, 255, 255);
  border-radius: 5px;
}

.about span {
  font-weight: bold;
  margin: 10px;
}

.about p {
  text-indent: 50px;
  margin-top: 10px;
}

.storefront #about-btn {
  float: right;
  margin-top: 2px;
  margin-bottom: 5px;
}

.item-title {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
}
.item-title .button{
  margin: 0;
  margin-left: 10px;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.644);
  margin: 10px;
}

.item img {
  width: 150px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* storefrontFeatured */
.storefrontFeatured {
  margin: 0px 40px;
}

.storefrontFeatured .head .button {
  float: right;
  margin-top: -15px;
}

.storefrontFeatured .list-item {
  margin-top: 60px;
  align-items: center;
}

.storefrontFeatured .list-item img {
  width: 80px;
  height: 80px;
}

.storefrontFeatured .list-item td {
  font-size: 1.3rem;
  padding: 10px 20px;
  white-space: nowrap;
}

/* inventory */

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 80px;
  font-weight: bold;
  float: right;
}

.dropbtn {
  background-color: #233e58;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 140px;
  font-weight: bold;
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropbtn {
  background-color: #3357a7;
}

.invent {
  margin-left: 60px;
  margin-right: 30px;
}

.invent th {
  font-size: 1.2em;
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
  white-space: nowrap;
  padding-bottom: 35px;
  color: #000;
}

.invent td {
  padding-right: 20px;
  padding-left: 20px;
  white-space: nowrap;
  padding-bottom: 10px;
}

.invent tr {
  /* text-align: center; */
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(36, 35, 35);
}

.invent .inv-img img {
  width: 100px;
  height: 100px;
}

.invent td a {
  text-decoration: none;
}

/* invent add */

.section-title {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 20px 60px;
  color: rgba(0, 0, 0, 0.774);
}

.section-title a {
  text-decoration: none;
}

.invent-add [type="checkbox"] {
  height: 17px;
  width: 17px;
}

.invent-add .row p,.invent-add .diam p {
  font-size: 1rem;
}

/* .invent-add{
    /* margin-left: 15%; */

.invent-add {
  margin-left: 5%;
}

.invent-add td {
  font-size: 1.3rem;
  padding: 20px 60px;
  white-space: nowrap;
}

.invent-add input[type="text"] {
  width: 500px;
  padding: 10px 10px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 1.2rem;
}

.invent-add #productcategory,.invent-add #plantcategory,.invent-add #fishcategory{
  width: 500px;
}
.invent-add .diam{
  display: flex;
  flex-direction: column;
}

.invent-add #price,
.invent-add #quantity,
.invent-add #weight,
.invent-add #capacity {
  padding: 10px 10px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 1.2rem;
  width: 500px;
}

.invent-add #width, .invent-add #height, .invent-add #length{
  padding: 10px 10px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 1.2rem;
}


.invent-add input[type="file"] {
  padding: 0px 10px;
}

.invent-update-container .js--image-preview::after {
  content: "";
  
}

.btn {
  display: flex;
  flex-direction: row;
  float: right;
  margin-right: 5%;
  margin-bottom: 40px;
}

.btn a {
  text-decoration: none;
}

.select select {
  padding: 10px 20px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 1.4rem;
  text-align: center;
}

/* orders */

.topics {
  display: flex;
  align-items: center;
}

.topics p {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 18px;
  font-weight: 500;
  color: #828283;
  cursor: pointer;
}

.topics p:first-child {
  margin-left: 40px;
  color: rgb(53, 53, 53);
}

.topics i {
  color: #828283;
}

/* pending */

.pending,
.accept,
.send,
.past,
.refunds {
  margin: 30px 50px;
  border-collapse: separate;
  border-spacing: 1em;
}

.pending a,
.accept a,
.send a,
.past a,
.refunds a {
  text-decoration: none;
  white-space: nowrap;
}
.pending th,
.accept th,
.send th,
.past th,
.refunds th {
  font: 1.5em bold;
  white-space: nowrap;
}
.pending tr,
.accept tr,
.send tr,
.past tr,
.refunds tr {
  outline: solid #828283;
}

.pending td,
.accept td,
.send td,
.past td,
.refunds td {
  font-size: 1.3rem;
  padding: 20px 30px;
  /* white-space: nowrap; */
}

.pending .button, .accept .button, .send .button, .past .button{
  width: 110px;
}

/* order details */

.order-details {
  margin: 0px 40px;
}

.o-detail {
  margin-left: 20px ;
  text-align: left;
}

.o-detail td {

  padding: 0px 15px 5px 0px;
  white-space: nowrap;
}

.o-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 30px;
}

.p-card {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  /* height: 300px; */
  /* width: 250px; */
  background-color: rgba(255, 255, 255, 0.644);
  margin: 10px;
}

.p-card img {
  width: 150px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.textbox{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

/* accept */

.accept,
.send,
.past {
  display: none;
}

/* refunds */

.reason {
  white-space: pre-wrap;
}

/* notify */

.notifi .button {
  margin-right: 80px;
}

.notifi {
  margin-left: 80px;
  width: 500px;
}
.notifi td {
  font-size: 1.5em;
  padding: 10px;
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

/* question */
.questions {
  width: 90%;
  margin: auto;
}

.question {
  width: 80%;
  margin-left: 50px;
  margin-bottom: 30px;
  border: 1px solid rgba(170, 170, 170, 0.521);
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}

.question h4,
.questions h4,
.questions h3 {
  color: rgb(51, 51, 51);
}

.question p {
  font-size: 15px;
  color: rgb(87, 87, 87);
}

.questions button {
  margin: auto;
  padding: 3px;
  width: 60px;
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
  margin-bottom: 40px;
}

/* report */

.small-carts {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 20px;
}

.s-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(102, 51, 153, 0.116);
  width: 400px;
  height: 150px;
  margin: 10px;
}

.s-box img {
  width: 90px;
  height: 90px;
  float: left;
  /* margin-right: -50px; */
}
.s-box span {
  font-size: 0.8em;
}
.s-box h2 {
  font-size: 2.5em;
  color: rgb(58, 58, 58);
}

.big-cart {
  margin: 40px;
}

.reson-orders {
  margin: 60px;
}

.reson-orders h3 {
  font-size: 1.4em;
  color: rgb(44, 44, 44);
}

.orders {
  width: 100%;
  margin: 10px;
  align-items: center;
  border-collapse: collapse;
}

.orders td,
.orders th {
  padding: 20px 10px;
  text-align: center;
}

.orders tr {
  border-bottom: 2px solid #33d7ff;
}

.time{
  display: flex;
  flex-direction: row;
  float: right;
  margin-right: 15px;
}

.time span{
  font-weight: 500;
  font-size: 1.2em;
}
