@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Title */
.head-titles{
    margin-top: 20px;
    margin-left: 30px; 
    height: 80px;
}

.head-titles h1{
    font-size: 1.8em;
    float: left;
}

/* button */
.button{
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    color: #050505;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 25px;
    border: 2px solid #050505;
    background-color: rgb(255, 255, 255);
}

.button:hover{
    color: #f5ac7c;
    padding: 6px 23px;
    border: 4px solid #f5ac7c;
}

/* form */
form > input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 1.4rem;
}

textarea{
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 1.2rem;
}

form > label{
    font-size: 1.3em;    
}

::placeholder{
    font-size: 1.2em;
}

/* Home */

.container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-evenly;
}

.container .card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(228, 227, 227, 0.377);
    width: 250px;
    height: 200px;
    border-style: outset;
    border-radius: 4% ;
    border-color: rgba(139, 139, 139, 0.555);
    margin: 10px;
}

.container .card:hover{
    background-color: #9b9b9b;
}

.container .card a:hover{
    color: #fffefe;
}

.container .card a{
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    color: rgb(0, 0, 0);
    padding: 30px 60px 30px 60px;
}

.container .card a i{
    font-size: 5.6em;
}

.container .card a span{
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 10px;
}

/* edit */
.edit-container{
    margin:0px 30px 80px 30px;
}

.edit-container .profile-pic{
    height: 120px;
    margin-bottom: 10px;
}
.edit-container .profile-pic img{
    float: left;
    width: 120px;
    border: 2px solid #f1967a;
    border-radius: 50%;
}

.d-modes{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-size: 1.2rem;
}
 
.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.row p{
    margin-left: 15px;
}

.d-modes [type="checkbox"]{  
    height: 20px;
    width: 20px;
}

/* reset */
.reset-container{
    margin:0px 30px 00px 30px;
} 

/*Storefront  */

.storefront{
    margin:0px 30px 00px 30px;
}

.store-img{
    width: 100%;
    height: 50vh;
    z-index: 2;
}

.store-img .cover{
    width: 100%;
    height: 40vh;
}

.storefront a{
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 10px;
    color: white;
    border: 2px solid white;;
    background-color: rgba(0, 0, 0, 0.651);
}

.store-img #cover-btn{
    position: relative;
    top: -50px;
    left: 10px;
}

.storefront .button:hover{
    color: #f5ac7c;
    padding: 4px 10px;
    border: 2px solid #f5ac7c;
}

.store-img .profile-img{
    width: 140px;
    height: 140px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: relative;
    top: -90px;
    left: 5%;
}

.store-img #profile-btn{
    position: relative;
    top: 0px;
    left: -70%;
} 

.store-title{
    display: flex;
    align-content: flex-start;
}

.store-title h3{
    margin-left: 10px;
    font-size: 1.6rem;
}

.store-title span{
    font-size: 0.8rem;
    margin-left: 10px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.685);
}

.open-time span{
    font-size: 0.8rem;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.685);
}

.address{
    margin-left: 10px;
}

.about{
    margin-top: 10px;
    border: 2px solid rgba(0, 0, 0, 0.39);
    padding: 10px;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
}

.about span{
    font-weight: bold;
    margin: 10px;
}

.about p{
    text-indent: 50px;
    margin-top: 10px;
}

.storefront #about-btn{
    float: right;
    margin-top: 2px;
    margin-bottom: 5px;
}

.item-title{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.644);
    margin: 10px;
}

.item img{
    width: 150px;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
} 

/* storefrontFeatured */
.storefrontFeatured{
    margin: 0px 40px;
}

.storefrontFeatured .head .button{
    float: right;
    margin-top: -15px;
}

.storefrontFeatured .list-item{
    margin-top: 60px;
    align-items: center;
}

.storefrontFeatured .list-item img{
    width: 80px;
    height: 80px;
}

.storefrontFeatured .list-item td{
    font-size: 1.3rem;
    padding: 10px 20px;
    white-space: nowrap;
}



/* inventory */

.head-titles a, .invent a{
    text-decoration: none;
    background-color: white;
}
  
.invent{
    margin-left: 30px;
    margin-right: 30px;
}

.invent th{
    font-size: 1.2em;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    white-space: nowrap;
    padding-bottom: 35px;
    color: #000;
}

.invent tr{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(36, 35, 35);
}

.invent .inv-img img{
    width: 100px;
    height: 100px;
}

/* invent add */

.invent-add   [type="checkbox"]{  
    height: 20px;
    width: 20px;
}   

.invent-add .row p{
    font-size: 1rem;
} 

.invent-add span{
    font-size: 0.9rem;
}

.invent-add{
    margin-left: 15%;
}  

.invent-add td{
    font-size: 1.3rem;
    padding: 20px 60px;
    white-space: nowrap;
}

.invent-add  input[type=text] {
    width: 500px;
    padding: 10px 10px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 1.2rem;
}

.invent-add #price, .invent-add #quantity  {
    text-align: right;
    padding: 10px 10px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 1.2rem;
}

.invent-add  input[type=file] {
    padding: 0px 10px;
}

.btn{
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 10%;
    margin-bottom: 20px;
}

.btn a{
    text-decoration: none;
}

/* orders */

.topics {
    display: flex;
    align-items: center;
}
  
.topics p {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 22px;
    font-weight: 500;
    color: #828283;
    cursor: pointer;
}
  
.topics p:first-child {
    margin-left: 40px;
    color: rgb(53, 53, 53);
}
  
.topics i {
    color: #828283;
}

/* pending */

.pending, .accept, .send, .past, .refunds{
    margin: 30px 50px;
    border-collapse:separate; 
    border-spacing:1em;
} 

.pending a, .accept a, .send a, .past a, .refunds a{
    text-decoration: none;
    white-space: nowrap;
}
.pending th, .accept th, .send th, .past th, .refunds th{
    font: 1.5em bold;
}
.pending tr, .accept tr, .send tr, .past tr, .refunds tr{
    outline:  solid #828283;
}
.pending td, .accept td, .send td, .past td, .refunds td{
    font-size: 1.3rem;
    padding: 20px 30px;
    /* white-space: nowrap; */
}

/* order details */

.order-details{
    margin: 30px 40px;
}

.o-detail{
    margin: 20px;
}

.o-detail td{
    font-size: 1.3rem;
    padding: 10px 30px;
    white-space: nowrap;
}
.order-details h3{
    margin-left: 30px;
    margin-bottom: 20px;
}

.o-product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
}

.p-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.644);
    margin: 10px;
}

.p-card img{
    width: 150px;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* accept */

.accept, .send, .past{
    display: none;
}

/* refunds */

.reason{
    white-space:pre-wrap;
}

/* notify */

.notifi .button{
    margin-right: 30%;
}

.notifi{
    margin-left: 40px;
    font-size: 1.3em;
}
.notifi td{
    padding: 10px;
}

input[type="checkbox"]{  
    height: 25px;
    width: 25px;
}

/* question */
.questions {
    width: 90%;
    margin: auto;
}

.question {
    width: 80%;
    margin-left: 50px;
    margin-bottom: 30px;
    border: 1px solid rgba(170, 170, 170, 0.521);
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.question h4, .questions h4, .questions h3 {
    color: rgb(51, 51, 51);
}

.question p {
    font-size: 15px;
    color: rgb(87, 87, 87);
}

.questions button {
    margin: auto;
    padding: 3px;
    width: 60px;
    position: relative;
    top: 10px;
    left: 10px;
    cursor: pointer;
    margin-bottom: 40px;
}