* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg.jpg);
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  align-items: flex-start;
  padding-left: 62px;
  padding-bottom: 30px;
}

.logo img {
  width: 22px;
  float: left;
}

.logo h4 {
  padding-top: 4px;
}

.heading {
  padding: 40px 40px 0 40px;
  width: 100%;
}

.breadcrumb-navigation {
  padding-left: 50px;
}

.breadcrumb-navigation li + li:before {
  padding: 4px;
  content: ">";
  font-size: 12px;
}

.breadcrumb-navigation > li {
  display: inline;
  font-size: 12px;
  color: #505f75;
}

.breadcrumb-navigation > li > a {
  text-decoration: none;
  color: #505f75;
}

.breadcrumb-navigation > li > a:hover {
  text-decoration: underline;
  color: #505f75;
}

input,
button {
  border: none;
  outline: none;
  background: none;
}

h2 {
  width: 100%;
  font-size: 30px;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 62px;
}

.reg-cont h4 {
  padding-bottom: 10px;
}

.reg-cont h2 {
  padding-left: 50px;
}

button {
  border-radius: 20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.cont button {
  margin-right: 62px;
}
.submit,
.verify,
.next {
  align-self: flex-end;
  margin-top: 40px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: #ffac47;
  cursor: pointer;
}

.submit:hover,
.verify:hover,
.next:hover {
  background: #ff7b2e;
  cursor: pointer;
}

.select {
  align-self: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: #ffac47;
}

.select:hover {
  background: #ff7b2e;
}

.forgot-pass {
  margin-top: 15px;
  margin-right: 62px;
  text-align: right;
  font-size: 10px;
  font-weight: 600;
  color: #0c0101;
  cursor: pointer;
}

.forgot-pass:hover {
  color: #c22743;
}

.sign-in {
  padding-top: 65px;
  transition-timing-function: ease-out;
}

.cont {
  margin-top: auto;
  margin-bottom: auto;
  width: 560px;
  height: 90%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.reg-cont {
  margin-top: 0;
  margin-bottom: auto;
  width: 560px;
  height: 100%;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

label {
  width: 75%;
  margin: 5px auto 0;
  text-align: start;
  position: relative;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(30px);
  font-size: 0.825em;
  transition-duration: 300ms;
}

input {
  border-bottom: 2px solid #d9d9d9;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

input[type="file"] {
  border-bottom: 0;
  padding: 0;
  margin: 0;
}

.account {
  padding: 50px 30px;
  justify-content: center;
}

form {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

a {
  display: inline-block;
  font-size: 12px;
}

p {
  display: inline-block;
  padding-bottom: 30px;
  padding-left: 62px;
  width: 100%;
  font-size: 12px;
  text-align: left;
}

.reg-cont p {
  padding-left: 50px;
}

input::placeholder {
  opacity: 0;
}

label:focus-within > span,
input:not(:placeholder-shown) + span {
  color: #505f75;
  transform: translateY(0px);
}

input[type="checkbox"] {
  width: auto;
  margin-top: 0;
}

.checkbox p {
  display: inline;
  padding: 0;
  font-size: 12px;
}

.qualifications {
  padding-top: 10px;
}

.qualifications p {
  display: inline;
  font-size: 13px;
  padding-left: 0;
}

.delivery p {
  font-size: 13px;
  text-align: start;
}

.form-content {
  display: none;
}

.tab {
  width: 100%;
  justify-content: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 50px;
}

.radio p {
  display: inline;
  font-size: 16px;
  padding-left: 10px;
}

input[type="radio"] {
  width: auto;
  margin-top: 0;
}

.next-nav {
  width: 100%;
  text-align: right;
  padding-top: 50px;
}

.tab label {
  width: 100%;
  margin: 10px auto 0;
  text-align: start;
  position: relative;
}

.step.active {
  color: #0c0101;
}

.step.disabled {
  color: #505f75;
}

.delivery {
  padding-top: 20px;
}

.delivery p {
  display: inline;
  padding: 0;
  font-size: 13px;
}
