<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testing</title>
    <script src="../../../Public/JS/HttpRequest/HttpRequest.js" type="text/javascript"></script>
    <script type="text/javascript">
        function myFun(){
            let values = {
                "namespace": "Admin",
                "controller": "Users",
                "action": "index"
            }
            let url = '../../../Public/index.php';
            let obj = new HttpRequestCustom;
            let data = obj.sendPostRequestOnLoad(url,values);
            console.log(data);
            return false;
        }
    </script>
</head>

<body onload='myFun()'>
    <h1>hello world</h1>

</body>


</html>