<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testing</title>
    <script src="../../../Public/JS/HttpRequest/HttpRequest.js">function test() {
        let values = {
            "namespace": "admin",
            "controller": "users",
            "action": "index"
        }
        obj = new HttpRequest;
        let data = obj.sendPostRequestOnLoad(url,values);
        console.log(data);
        return false;
    }</script>
</head>

<body onload='test()'>

</body>


</html>